@import "tailwindcss";

/**, *::before, *::after {*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*html {*/
/*  scroll-behavior: smooth;*/
/*  font-size: 62.5%;*/
/*}*/

/*body {*/
/*  line-height: 1.6;*/
/*  color: #111111;*/
/*  background-color: #fff;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  font-size: 1.6rem;*/
/*}*/

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/*img, picture, video, canvas, svg {*/
/*  display: block;*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*}*/

/*input, button, textarea, select {*/
/*  font: inherit;*/
/*  color: inherit;*/
/*}*/